/* must use flex layout */

* {
    outline: none;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    margin: 0;
}

div.input {
    border: 1px dotted green;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

div.entry {
    margin: 0 0 10px;
    display: flex;
    justify-content: center;
}

div.inputerror {
    margin: 0 0 10px;
}

div.labelsquare {
    border: 1px dotted red;
    /*height: 30px;*/ 
    width: 100px;
    text-align: right;
    background-color: lightgray;
}

#main_container {
    width: 80%;
    padding: 3px;
    height: 100%;/*why not 100%*/
    background-color: #d4d5ea;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #64005d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

footer p {
    margin: 0;
}

#middle-section {
    border: solid black 3px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 5;
}

#top-section {
    width: 100%;
    padding: 2px;
    background-color: #cfcbc9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 4;
}

footer {
    width: 100%;
    margin-top: 10px;
    background-color: #64005d;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 2;
}

#main-section {
    background-color: #589c9e;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 5;
}

legend {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color: red
}

table {
    margin: 0;
    border-spacing: 0 10px;
}

fieldset {
    display: flex;
    width: 100%;
}

#table-render-space {
    width: 98%;
    height: 47%;
    margin-top: 20px;
}

#table-html-space {
    background-color: white;
    width: 98%;
    height: 47%;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f5dd;
    align-items: center;
    text-align: center;
}

input,
select {
    color: black;
    width: 210px;
    height: 30px;
    box-sizing: border-box;
}

td:first-of-type {
    background-color: lightgray;
    border: 1px dotted red;
}

.inputerror {
    font-size: 0.8rem;
    background-color: rgb(177, 55, 55) !important;
    color: white;
}

tr {
    margin: 0 0 1vh;
    background-color: lightgray;
}

tr:last-of-type {
    margin: 0;
}